:root {
        --purple-primary: #8a2be2;
        --card-bg: rgb(32, 32, 32);
        --dark-bg: #1a1a1a;
        --input-bg: #2d2d2d;
        --text-light: #f5f5f5;
        --text-dark: #2d2d2d; /* Для улучшенной видимости текста */
        --text-grey: #c4c4c4;
        --purple-active:#7a1db6;
    }


body {
    background-position: center;
    background-repeat: no-repeat; /*повторение фона*/
    background-attachment: fixed; /*фон фиксирован*/
    padding-top: 70px; /*отступ сверху для header*/
    background: var(--dark-bg);
    color: var(--text-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.w-text {
    color: white;
}


h1 {
    font-family: 'Arial';
}

h2 {
    font-family: 'Arial';
}

h3 {
    font-family: 'Arial';
}

h4 {
    font-family: 'Arial';
}

h5 {
    font-family: 'Arial';
}

h6 {
    font-family: 'Arial';
}

div {
    font-family: 'Arial';
    font-size: 16px;
}






