
.btn-red {
    background: rgb(165, 60, 60);
    color: white;
}
.btn-red:hover {
    background: rgb(165, 60, 60);
    color: white;
}

.btn-green {
    background: rgb(79, 143, 56);
    color: white;
}
.btn-green:hover {
    background: rgb(69, 136, 38);
    color: white;
}

.btn-violet {
    background: rgb(133, 114, 225);
    color: white;
}
.btn-violet:hover {
    background: rgb(145, 131, 211);
    color: white;
}