.dropdown-item {
    color: white;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #5b5672;
    color: #ffffff;
}

.dropdown-item:focus {
    outline: none;
    background-color: #5b5672;
    color: #ffffff;
}

.dropdown-menu {
    background-color: #444348;
}

.my-nav {
    background-color: #444348;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
}
