:root {
        --purple-primary: #8a2be2;
        --card-bg: rgb(32, 32, 32);
        --dark-bg: #1a1a1a;
        --input-bg: #2d2d2d;
        --text-light: #f5f5f5;
        --text-dark: #2d2d2d; /* Для улучшенной видимости текста */
        --text-grey: #c4c4c4;
        --purple-active:#7a1db6;
    }


.dropdown-item {
    color: white;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: red;
    color: #ffffff;
}

.dropdown-item:focus {
    outline: none;
    background-color: #5b5672;
    color: #ffffff;
}

.dropdown-menu {
    background-color: #444348;
}

.my-nav {
    background-color: var(--text-dark);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
}
