{% extends 'base.html' %}
{% block main_content %}

<style>
    .vertical-bar {
        width: 30px; /* Ширина вертикального столбика */
        position: absolute; /* Позволяет свободно позиционировать */
        right: 20px; /* Прикрепляет к правому краю */
        top: 0; /* Начинает от верхнего края */
        height: 100%; /* Растягивается на всю высоту карточки */
        background: linear-gradient(to bottom, #ff0000, #ff00ae, #8400ff, #009dff); /* Градиент */
    }

    .custom-text-info {
        color: #d1d1d1; /* Светло-серый цвет */
    }
    .profile-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #d1d1d1; /* Светло-серый ободок */
    }
    .activity-table {
        background-color: #6c757d;
    }

    .card-title {
        color: white;
    }
    .card-text {
        color: white;
    }

    div {
        color: white;
    }
</style>

<div class="container mt-5">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4 d-flex justify-content-center align-items-center" style="background: var(--card-bg); border-radius: 0.5rem">
                <img src="https://pic.rutubelist.ru/video/9e/2a/9e2a7673f6cb2a1ccba408389af4fab3.jpg?size=l" class="profile-image p-1" alt="Фотография ученика">
            </div>
            <div class="col-md-8">
                <div class="card-body" style="border-radius: 0.5rem; margin-left: 1px">
                    <h5 class="card-title">{{ teacher['name'] }}</h5>
                    <p class="card-text"><strong>Возраст:</strong> {{ teacher['age'] }} лет</p>
                    <p class="card-text"><strong>Почта:</strong> {{ teacher['mail'] }}</p>
                    <p class="card-text"><strong>Место обучения:</strong> {{ teacher['education'] }}</p>
                    {% if teacher['coll_deg'] == 0 %}
                        <p class="card-text"><strong>Высшее образование:</strong> ❌ </p>
                    {% else %}
                        <p class="card-text"><strong>Высшее образование:</strong> ✅ </p>
                    {% endif %}
                    <h6 class="card-subtitle mb-2 custom-text-info">Процесс подтверждения качества преподавателя:</h6>
                    <ul class="confirmation-list">
                        <li>Проведение открытых уроков.</li>
                        <li>Оценка отзывов студентов.</li>
                        <li>Регулярные аттестации.</li>
                        <li>Участие в профессиональных конкурсах.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 custom-text-info">Активность на сайте:</h6>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Действие</th>
                        <th scope="col">Статус</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01.02.2025</td>
                        <td>Выложил курс по Python</td>
                        <td>✅</td>
                    </tr>
                    <tr>
                        <td>10.12.2024</td>
                        <td>Опубликовал проект на GitHub</td>
                        <td>✅</td>
                    </tr>
                    <tr>
                        <td>15.01.2025</td>
                        <td>Принял участие в хакатоне</td>
                        <td>🏆</td>
                    </tr>
                    <tr>
                        <td>05.11.2024</td>
                        <td>Получил сертификат по углубленному изучению JavaScript</td>
                        <td>✅</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
