{% extends "base.html" %}

{% block main_content %}
<main class="container my-5 pt-5">
    <h4 class="display-4 mb-4 text-center">Предлагаемые стажировки</h4>
    <table>
        <thead>
            <tr>
                <th scope="col">Компания</th>
                <th scope="col">Должность</th>
                <th scope="col">Необходимый рейтинг</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tech Innovations</td>
                <td>Junior Developer</td>
                <td>Кандидат в мастера</td>
            </tr>
            <tr>
                <td>Code Wizards</td>
                <td>Intern Software Engineer</td>
                <td>Специалист</td>
            </tr>
            <tr>
                <td>Data Solutions</td>
                <td>Data Analyst Intern</td>
                <td>Эксперт</td>
            </tr>
            <tr>
                <td>AI Labs</td>
                <td>Machine Learning Intern</td>
                <td>Мастер</td>
            </tr>
            <tr>
                <td>Web Creators</td>
                <td>Frontend Developer Intern</td>
                <td>Кандидат в мастера</td>
            </tr>
            <tr>
                <td>Cyber Security Inc.</td>
                <td>Security Analyst Intern</td>
                <td>Эксперт</td>
            </tr>
        </tbody>
    </table>
</main>

{% endblock %}
