{% extends "base.html" %}

{% block main_content %}
<main class="container my-5 pt-5">
    <h4 class="display-4 mb-4 text-center">Предлагаемые стажировки</h4>
    <table>
        <thead>
            <tr>
                <th scope="col">Компания</th>
                <th scope="col">Должность</th>
                <th scope="col">Необходимый рейтинг</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td><a href="{{company['link']}}", target="_blank", style="color:rgb(179, 179, 179)">{{company['name']}}</td>
                <td>{{company['post']}}</td>
                {% if company['rank'] == "Мастер"%}
                <td class="master">{{company['rank']}}</td>
                {% elif company['rank'] == "Кандитат в мастера" %}
                <td class="candidat">{{company['rank']}}</td>
                {% elif company['rank'] == "Эксперт" %}
                <td class="expert">{{company['rank']}}</td>
                {% else %}
                <td class="specialist">{{company['rank']}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}
