{% extends 'base.html' %}
{% block main_content %}

<style>
    .text-violet { color: #916aff; }
    .border-violet { border: 2px solid #916aff; border-radius: 0.8rem;}
    .bg-violet { background-color: #916aff; }
    .bg-light-violet { background-color: rgba(145, 106, 255, 0.1); }
    .btn-outline-violet {
        border: 2px solid #916aff;
        color: #916aff;
    }
    .btn-outline-violet:hover {
        background-color: #916aff;
        color: white;
    }
    .hover-scale {
        transition: transform 0.3s ease;
    }
    .hover-scale:hover {
        transform: translateY(-5px);
    }
    h3 {
        color: white;
    }
    p {
        color: white;
    }
    /* #subjectSelect {
        width: 250px;
    } */
</style>

    <div class="container mt-5">
        <h1 class="text-center mb-4" style="color:white">Поиск репетиторов</h1>
        
        <div class="mb-4">
            <label for="subjectSelect" class="form-label" style="color:white">Выберите тему:</label>
            <select id="subjectSelect" class="form-select">
                <option selected >Выберите тему...</option>
                <option value="math">Математика</option>
                <option value="physics">Физика</option>
                <option value="english">Английский язык</option>
                <option value="history">История</option>
            </select>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3" id="courses-container">
        {%for t in teacher:%}
            <div class="col-md-4">
                <div class="card teacher-card border-violet">
                    <div class="card-body">
                        <h5 class="card-title" style="color:white">{{t['name']}}</h5>
                        <p style="color:white"><strong>Почта:</strong> {{t['mail']}}</p>
                        <a href="/repetitor/{{t['id']}}" class="btn btn-violet">Перейти в личный кабинет</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}